{% extends "base.html" %}
{% block title %}Change your password{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-2">
            <h1 class="text-center">Reset your password</h1>
            {% if validlink %}
            <br><br>
            <p class="text-center">Please enter your new password twice</p>
            <br><br>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-sm">Change my password</button>
                    <a href="{% url 'home_page' %}" class="btn btn-info btn-sm">Back</a>
                </div>
                <br><br><br><br>
            </form>
          {% else %}
          <p class="text-center">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
