

{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="container mt-3 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Reset your password</h1>
            <br>
            <p class="text-center">We have sent the instructions to the email you entered.</p>
            <br><br>
            <p class="text-center">If you did not receive an email, please make sure you have entered correct email you registered with.</p>
        </div>
    </div>
</div>
{% endblock %}