{% extends "base.html" %}

{% block title %}Change your password{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-2">
            <h1 class="text-center">Change your password</h1>
            <br><br>
            <p class="text-center">Use the form below to change your password.</p>
            <br><br>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-sm">Change password</button>
                    <a href="{% url 'profile_page' request.user.username %}" class="btn btn-info btn-sm">Back</a>
                </div>
                <br><br><br><br>
            </form>
        </div>
    </div>
</div>
{% endblock %}
