{% extends 'base.html' %}
{% load custom_template_tags %}
{% load static %}
<title>{% block title %}SubCategory{% endblock title %}</title>



{% block content %}

<br><br><br><br>
	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						All Products in {{ products.first.sub_category.name }} Category
					</button>
				</div>
			</div>

			<div class="row isotope-grid">
				{% for product in products %}
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
					<!-- Block2 -->
					<div class="block2">
						{% with available_image=product.images.all|first_available_image %}
						{% if available_image %}
						<div class="block2-pic hov-img0">
							<img src="{{ available_image.image.url }}" alt="IMG-PRODUCT">
							<a href="{% url 'product_detail_page' product.slug %}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
								View
							</a>
						</div>
						{% endif %}
						{% endwith %}

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="{% url 'product_detail_page' product.slug %}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									{{ product.name }}
								</a>

								<span class="stext-105 cl3">
									${{ product.price }}
								</span>
							</div>
							<br><br>
							  <a href="{% url 'updating_product_page' product.slug %}"><i class="fas fa-edit mr-3 mt-2"></i></a>
							  <a href="{% url 'deleting_product_page' product.slug %}"><i class="fas fa-trash mt-2"></i></a>
						</div>
					</div>
				</div>

				{% endfor %}
			</div>


			<!-- Load more -->
			<div class="flex-c-m flex-w w-full p-t-45">
				<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					Load More
				</a>
			</div>
		</div>
	</section>

{% endblock content %}